In [1]:
import pandas as pd
pd.options.display.max_columns = 99

Examining the csv. Read only the first 5 lines to look at what kind of data is in the csv.

In [2]:
df_initial = pd.read_csv('loans_2007.csv', nrows=5)
display(df_initial)
display(df_initial.dtypes)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

id                              int64
member_id                     float64
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                     object
total_acc                     float64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type               object
acc_now_delinq                float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [3]:
#Let's explore how many rows it takes to stay under 5mb of space
try_rows = 3000
df = pd.read_csv('loans_2007.csv', nrows=try_rows)
mem_usage = df.memory_usage(deep=True).sum()/2**20 
print(mem_usage, mem_usage <= 5.0)

4.649059295654297 True

For each chunk:
How many columns have a numeric type? How many have a string type?
How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
Which float columns have no missing values and could be candidates for conversion to the integer type?
Calculate the total memory usage across all chunks.

In [4]:
# Answer to: How many have numeric vs string types?
df_initial.dtypes.value_counts()

float64    30
object     21
int64       1
dtype: int64

In [5]:
# Prep for which are string cols
dtypes = df_initial.dtypes
str_cols = dtypes[dtypes == 'object'].index.to_list()
print(str_cols)
# print(df_initial.loc[:,str_cols])

['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

In [6]:
# prep for which float cols
float_cols = dtypes[dtypes == 'float64'].index.to_list()
print(float_cols)

['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens']

In [7]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
str_uniques = {col: [] for col in str_cols}
float_missing = {col: 0 for col in float_cols}
float_badint = {col: 0 for col in float_cols}
mems = 0 # in Mb
for chunk in chunk_iter:
    mems += chunk.memory_usage(deep=True).sum() / 2**20
    for col in str_cols:
        val_counts = chunk[col].value_counts()
        uniques = (val_counts==1).sum()
        str_uniques[col].append(uniques)
    for col in float_cols:
        nans = chunk[col].isna()
        float_missing[col] += nans.sum()
        badints = (chunk[col] // 1 != 0) & ~nans
        float_badint[col] += badints.sum()
str_sums = {col: sum(vals) for col, vals in str_uniques.items()}

In [8]:
print(mems, 'MB used across the entire dataset')
display(str_sums)
display(float_missing)
display(float_badint)

66.21605968475342 MB used across the entire dataset

{'term': 0,
 'int_rate': 110,
 'grade': 0,
 'sub_grade': 10,
 'emp_title': 35227,
 'emp_length': 0,
 'home_ownership': 1,
 'verification_status': 0,
 'issue_d': 1,
 'loan_status': 7,
 'pymnt_plan': 1,
 'purpose': 0,
 'title': 24312,
 'zip_code': 2248,
 'addr_state': 14,
 'earliest_cr_line': 1055,
 'revol_util': 2736,
 'initial_list_status': 0,
 'last_pymnt_d': 31,
 'last_credit_pull_d': 37,
 'application_type': 0}

{'member_id': 3,
 'loan_amnt': 3,
 'funded_amnt': 3,
 'funded_amnt_inv': 3,
 'installment': 3,
 'annual_inc': 7,
 'dti': 3,
 'delinq_2yrs': 32,
 'inq_last_6mths': 32,
 'open_acc': 32,
 'pub_rec': 32,
 'revol_bal': 3,
 'total_acc': 32,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_prncp': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'recoveries': 3,
 'collection_recovery_fee': 3,
 'last_pymnt_amnt': 3,
 'collections_12_mths_ex_med': 148,
 'policy_code': 3,
 'acc_now_delinq': 32,
 'chargeoff_within_12_mths': 148,
 'delinq_amnt': 32,
 'pub_rec_bankruptcies': 1368,
 'tax_liens': 108}

{'member_id': 42535,
 'loan_amnt': 42535,
 'funded_amnt': 42535,
 'funded_amnt_inv': 42255,
 'installment': 42535,
 'annual_inc': 42531,
 'dti': 41465,
 'delinq_2yrs': 4735,
 'inq_last_6mths': 22849,
 'open_acc': 42506,
 'pub_rec': 2376,
 'revol_bal': 41416,
 'total_acc': 42506,
 'out_prncp': 1016,
 'out_prncp_inv': 1016,
 'total_pymnt': 42514,
 'total_pymnt_inv': 42233,
 'total_rec_prncp': 42449,
 'total_rec_int': 42452,
 'total_rec_late_fee': 2372,
 'recoveries': 4722,
 'collection_recovery_fee': 3930,
 'last_pymnt_amnt': 42380,
 'collections_12_mths_ex_med': 0,
 'policy_code': 42535,
 'acc_now_delinq': 4,
 'chargeoff_within_12_mths': 0,
 'delinq_amnt': 2,
 'pub_rec_bankruptcies': 1854,
 'tax_liens': 1}

In [9]:
# Cols which can be converted to categories (probably)
category_potentials = []
for col, val in str_sums.items():
    if val < 1000:
        category_potentials.append(col)
print(category_potentials)

['term', 'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

In [10]:
display(df_initial.loc[:,category_potentials])
display(df_initial.loc[:,float_cols])

,term,int_rate,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,addr_state,initial_list_status,last_pymnt_d,last_credit_pull_d,application_type
0,36 months,10.65%,B,B2,10+ years,RENT,Verified,Dec-2011,Fully Paid,n,credit_card,AZ,f,Jan-2015,Jun-2016,INDIVIDUAL
1,60 months,15.27%,C,C4,< 1 year,RENT,Source Verified,Dec-2011,Charged Off,n,car,GA,f,Apr-2013,Sep-2013,INDIVIDUAL
2,36 months,15.96%,C,C5,10+ years,RENT,Not Verified,Dec-2011,Fully Paid,n,small_business,IL,f,Jun-2014,Jun-2016,INDIVIDUAL
3,36 months,13.49%,C,C1,10+ years,RENT,Source Verified,Dec-2011,Fully Paid,n,other,CA,f,Jan-2015,Apr-2016,INDIVIDUAL
4,60 months,12.69%,B,B5,1 year,RENT,Source Verified,Dec-2011,Current,n,other,OR,f,Jun-2016,Jun-2016,INDIVIDUAL

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1296599.0,5000.0,5000.0,4975.0,162.87,24000.0,27.65,0.0,1.0,3.0,0.0,13648.0,9.0,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,171.62,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1314167.0,2500.0,2500.0,2500.0,59.83,30000.0,1.00,0.0,5.0,3.0,0.0,1687.0,4.0,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1313524.0,2400.0,2400.0,2400.0,84.33,12252.0,8.72,0.0,2.0,2.0,0.0,2956.0,10.0,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,649.91,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1277178.0,10000.0,10000.0,10000.0,339.31,49200.0,20.00,0.0,1.0,10.0,0.0,5598.0,37.0,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,357.48,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1311748.0,3000.0,3000.0,3000.0,67.79,80000.0,17.94,0.0,0.0,15.0,0.0,27783.0,38.0,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,67.79,0.0,1.0,0.0,0.0,0.0,0.0,0.0

From skimming above, should remove some columns from potential categories:
    issue_d, last_payment_d, last_credit_pull_d, int_rate, term, emp_length

May want to convert Term and emp_length to some dates or ints

In [11]:
cols_to_remove = ['issue_d', 'last_pymnt_d', 'last_credit_pull_d',
                 'int_rate', 'term', 'emp_length']
for col in cols_to_remove:
    if col in category_potentials:
        category_potentials.remove(col)
    else:
        print(f'No col {col} found')

In [12]:
float_to_ints = ['acc_now_delinq','chargeoff_within_12_mths',
                    'delinq_amnt', 'collections_12_mths_ex_med',
                    'out_prncp','tax_liens']
df = pd.read_csv('loans_2007.csv', 
                 usecols=float_to_ints)
for row in float_to_ints:
    print(row)
    display(df[row].value_counts())

acc_now_delinq

0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64

chargeoff_within_12_mths

0.0    42390
Name: chargeoff_within_12_mths, dtype: int64

delinq_amnt

0.0       42504
6053.0        1
27.0          1
Name: delinq_amnt, dtype: int64

collections_12_mths_ex_med

0.0    42390
Name: collections_12_mths_ex_med, dtype: int64

out_prncp

0.00       41519
385.49         2
364.56         2
3071.21        2
1490.68        2
           ...
584.28         1
1799.30        1
868.51         1
1538.42        1
537.63         1
Name: out_prncp, Length: 1013, dtype: int64

tax_liens

0.0    42429
1.0        1
Name: tax_liens, dtype: int64

All above columns except out_prncp can be converted to ints

In [13]:
float_to_ints.remove('out_prncp')

In [14]:
# Do cleanup to see how much data can be saved. Trying to beat
# 66.21605968475342 MB
# col_types = {col: 'int' for col in float_to_ints}
chunk_iter = pd.read_csv('loans_2007.csv',
#                          dtype = col_types,
                         chunksize=3000)
mems = 0 # in Mb
for chunk in chunk_iter:
    chunk.int_rate = chunk.int_rate.str.strip('%').astype('float')
    chunk.revol_util = chunk.revol_util.str.strip('%').astype('float')
    for col in category_potentials:
        chunk[col] = chunk[col].astype('category')
#     for col in col_types:
#         chunk[col] = chunk[col].astype('int64')
    mems += chunk.memory_usage(deep=True).sum() / 2**20
print(mems, 'MB used')
print(f'Saved {66.216 - mems} MB')

35.78240203857422 MB used
Saved 30.433597961425775 MB

In [20]:
df_initial.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [27]:
# df_initial[['int_rate','revol_util']].string.rstrip('%').astype('float')
# df1[['int_rate', 'revol_util']] = df1[['int_rate', 'revol_util']].apply(lambda L: L.str.rstrip('%').astype('float') / 100.0, axis=1)
display(df1)
display(df_initial)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,0.1065,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,0.837,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,0.1527,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,0.094,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,0.1596,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,0.985,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,0.1349,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,0.210,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,0.1269,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,0.539,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [17]:
import math
def chunk_and_save(csv_name, mb_limit=5):
    #Select chunck size close to memory limit
    df = pd.read_csv(csv_name, nrows=1000)
    mem_1000 = df.memory_usage(deep=True).sum()/2**20
    chunk_size = math.floor(1000 * (mb_limit / mem_1000))
    
    # Initial column looks
    perc_cols = find_str_percentile(df)
    
    
    # Use chunk size to parse
    chunk_iter = pd.read_csv(csv_name, chunksize=chunck_size)
    
    for chunk in chunk_iter:
        chunk[perc_cols] = chunk[perc_cols].apply(lambda L: L.str.rstrip('%').astype('float') / 100.0, axis=1)
        # Convert numeric columns to more efficient representations
        for col in chunk.select_dtypes(include=[np.number]).columns:
            col_min = chunk[col].min()
            col_max = chunk[col].max()
            if pd.api.types.is_float_dtype(chunk[col]):
                chunk[col] = pd.to_numeric(chunk[col], downcast='float')
            elif pd.api.types.is_integer_dtype(chunk[col]):
                chunk[col] = pd.to_numeric(chunk[col], downcast='integer')

        # Append the processed chunk to the list
        processed_chunks.append(chunk)

    # Concatenate all processed chunks into a single DataFrame
    processed_df = pd.concat(processed_chunks, ignore_index=True)
    
    return processed_df

def find_str_percentiles(df: pd.DataFrame) -> [str]:
    # Convert columns with '%' to numeric
    percentile_cols = []
    for col in df.columns:
        if df[col].dtype == 'object':  # Check if the column is of object type
            if df[col].str.endswith('%').any():
                percentile_cols.append(col)
    return percentile_cols

DATAQUEST SUGGESTIONS:
 + Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club datasets. This function should:
  - Determine the optimal chunk size based on the memory constraints you provide
  - Determine which string columns can be converted to numeric ones by removing the % character
  - Determine which numeric columns can be converted to more space efficient representations